<div class="row" ng-app="sensorsApp">

  <%= javascript_include_tag 'sensors' %>

  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RS</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#user" style="padding-bottom: 5px; padding-top: 5px" title="Профиль пользователя"><img src="/assets/images/img1.png" style="width: 39px;"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-md-10 col-md-push-1">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="col-md-10 col-md-push-1" ui-view>

    <script type="text/ng-template" id="/dash.html">
      <div class="row">
        <div class="list-group col-md-2">
          <a href="#/dash" class="list-group-item active">
            DASHBOARD
          </a>
          <a href="#/pir" class="list-group-item">
            PIR
          </a>
          <a href="#/dht" class="list-group-item">
            DHT
          </a>
          <a href="#/flood" class="list-group-item">
            FLOOD
          </a>
        </div>
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">PIR</h4>
            </div>
            <div class="panel-body">
              <div class="btn-group">
                <a class="btn btn-default" href="javascript:void(0);" ng-repeat="sensor in pirs" ng-click="$parent.selected_pir = sensor">{{sensor.label}}</a>
                <!--<a href="javascript:void(0);" ng-click="selected_pir = pirs[0]" class="btn btn-default">{{pirs[0].label}}</a>
                <a href="javascript:void(0);" ng-click="selected_pir = pirs[1]" class="btn btn-default">{{pirs[1].label}}</a>
                <a href="javascript:void(0);" ng-click="selected_pir = pirs[2]" class="btn btn-default">{{pirs[2].label}}</a>
                <a href="javascript:void(0);" ng-click="selected_pir = pirs[3]" class="btn btn-default">{{pirs[3].label}}</a>-->
              </div>
              <div class="row-centered top-buffer">
                <div class="col-md-2 col-centered"><span class="text-center center-block">{{selected_pir.label}}</span></div>
                <div class="col-md-8 col-centered btn-group btn-group-xs" role="group" aria-label="...">
                  <div class="btn btn-default" ng-repeat="rec in selected_pir.records_tail" ng-switch on="rec.message">
                    <span class="glyphicon glyphicon-asterisk text-danger" ng-switch-when="PIR:ON"/>
                    <span class="glyphicon glyphicon-minus text-success" ng-switch-when="PIR:OFF"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-success">
            <a href="#/add-device" class="btn btn-success"><span class="glyphicon glyphicon-plus"/> Device</a>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/pir.html">
      <div class="row">
        <div class="list-group col-md-2">
          <a href="#/dash" class="list-group-item">
            DASHBOARD
          </a>
          <a href="#/pir" class="list-group-item active">
            PIR
          </a>
          <a href="#/dht" class="list-group-item">
            DHT
          </a>
          <a href="#/flood" class="list-group-item">
            FLOOD
          </a>
        </div>
        <div class="col-md-10">
          <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>В разработке!</h4>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/dht.html">
      <div class="row">
        <div class="list-group col-md-2">
          <a href="#/dash" class="list-group-item">
            DASHBOARD
          </a>
          <a href="#/pir" class="list-group-item">
            PIR
          </a>
          <a href="#/dht" class="list-group-item active">
            DHT
          </a>
          <a href="#/flood" class="list-group-item">
            FLOOD
          </a>
        </div>
        <div class="col-md-10">
          <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>В разработке!</h4>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/flood.html">
      <div class="row">
        <div class="list-group col-md-2">
          <a href="#/dash" class="list-group-item">
            DASHBOARD
          </a>
          <a href="#/pir" class="list-group-item">
            PIR
          </a>
          <a href="#/dht" class="list-group-item">
            DHT
          </a>
          <a href="#/flood" class="list-group-item active">
            FLOOD
          </a>
        </div>
        <div class="col-md-10">
          <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>В разработке!</h4>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/add-device.html">
      <div class="row">
        <div class="list-group col-md-2">
          <a href="#/dash" class="list-group-item">
            DASHBOARD
          </a>
          <a href="#/pir" class="list-group-item">
            PIR
          </a>
          <a href="#/dht" class="list-group-item">
            DHT
          </a>
          <a href="#/flood" class="list-group-item">
            FLOOD
          </a>
        </div>
        <div class="col-md-10">
          <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>В разработке!</h4>
          </div>
          <a href="#/dash" class="btn-link">На панель датчиков</a>
        </div>
      </div>
    </script>
  </div>
</div>