<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @sensor.uid %>
</p>

<p>
  <strong>Label:</strong>
  <%= @sensor.label %>
</p>

<p>
  <strong>Sensor Type:</strong>
  <%= @sensor.sensor_type %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
